<div class="pb-10 pt-5">
  <header>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex items-center">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= t(".title") %></h1>

      <div class="flex items-center ml-auto">
        <div class="grid w-full max-w-lg grid-cols-1 lg:max-w-xs">

          <%= form_with(url: root_path, method: :get, class: 'relative', 
                data: { turbo: true, turbo_frame: 'books-list', turbo_action: :advance, controller: 'inline-search' }) do %>
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <svg class="size-5 self-center text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
              </svg>
            </div>
            <%= text_field_tag 'query', params[:query], placeholder: t('.search_books'), class: 'form-control pl-10 pr-3', data: { action: "inline-search#submit"} %>
          <% end %>
        
        </div>
      </div>
    </div>
  </header>
  <main>
    <turbo-frame id="books-list">
      <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="border border-gray-200 bg-gray-100 p-4 rounded">
          
          <% if @books[0].present? %>
            <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
              <%= render @books %>
            </ul>
          <% else %>
            <div class="flex items-center w-full min-h-40">
              <span class="mx-auto">
                <%= t(".no_books_found") %>
              </span>
            </div>
          <% end %>
          
        </div>
      </div>
    </turbo-frame>
  </main>
</div>
